# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/
myenv/


# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# Outputs (IMPORTANT)
# =========================
outputs/


# =========================
# Data
# =========================
/data/

# =========================
# Cache torch
# =========================
.cache/